@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import "card.css";
@import "footer.css";
@import "buttons_links.css";
@import "pictures.css";

body {
  background-color: #edf6f9;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  color: #006d77;
  font-size: 2em;
  line-height: 15px;
  text-align: center;
  margin-bottom: 26px;
}

h2 {
  font-size: 1.2em;
  color: #e29578;
  text-align: center;
  margin-bottom: 26px;
}

p {
  text-align: justify;
  margin-bottom: 26px;
}

.list-inline {
  display: inline-block;
  padding: 0 20px;
  list-style: none;
  padding-left: 0px;
  font-size: 38px;
}

@media (max-width: 768px) {
  .card {
    width: 400px;
  }
}
@media (max-width: 320px) {
  .card {
    width: 300px;
  }
}
